<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>SEO ADM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
         <td bgcolor="#6A5ACD" align="center"  style="font-style: italic; padding: 40px 0 30px 0;">
         <h3> SEO ADM - SUA FERRAMENTA DE SMS MARKETING</h3>

         </td>
        </tr>
        <tr>
         <td style="padding: 10px 10px 10px 30px;">
         <p>Olá {{$nome}}, tudo bem?<br>
          Agradecemos pelo interesse e esperamos que esteja sendo bem atendido.<br>
          Por favor para continuar o processo de abertura de sua conta em nosso sistema, acesse o link abaixo
          e siga as instruções.<br>
          <strong><a href="https://m.seo.adm.br/bemvindo">Clique para prosseguir o cadastro.</a></strong></p>
          <p>Em breve a mais poderosas ferramentas de SMS Marketing estarão em suas mãos:</p>
          <ul>
                <li>Envio em massa e personalizado de SMS - você pode enviar dezenas, 
                  centenas, milhares ou milhões de mensagens, de forma simples e rápida e tudo de acordo 
                com as regras da Anatel</li>
                <li><strong>Mais clientes?</strong> Sem problemas! A SEO ADM está lhe oferece
                perfis segmentados de contatos, telefone, e-mail e endereço.</li>
                <ul>
                    <li>Profissões</li>
                    <li>Renda</li>
                    <li>Idade</li>
                    <li>Sexo</li>
                    <li>Estado civil</li>
                    <li>Estados</li>
                    <li>Cidades</li>
                    <li>DDDs</li>
                </ul>
                <li>Também poderá enviar por grupos de contatos, aniversariantes</li>
          </ul>
          <p>Finalize agora a criação de sua conta e vamos começar!</p>
          <small>Caso você tenha recebido esta mensagem por engano por favor clique 
              <a href="https://m.seo.adm.br/cancela/{{$email}}">aqui</a> para não receber
              mais nossas mensagens.
          </small>
          
         </td>
        </tr>
        <tr>
         <td bgcolor="#6A5ACD" align="center"  style="font-size: 8pt; padding: 10px 0 10px 0;">
          &copy; SEO ADM 
         </td>
        </tr>
       </table>
   </body>
</html>